@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #021021;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
  text-decoration: none;

}

/*utility classes*/
.active {
  color: #a88c8c;
}

/*nav section*/
nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 5px #2f2f2f;
}



nav>a,
nav ul {
  margin: 0px 20px;
  text-decoration: none;
  color: #d9d9d9;
}

nav>a {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px blue;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 20px;
  list-style: none;
  color: #e0e0e0;
  font-size: 1.2rem;
}

nav ul li a {
  color: #e0e0e0;
}

/*main section*/
main {
  height: 462px;
  max-width: 100vw;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: white;
  /* text-align: center; */
}

section h1 {
  text-align:center;
  width:100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
  /* display: flex;
  justify-content: center; */
}

section h1 span {
  position:relative;
  /* width:100%; */
  left:0;
  display: inline-block;
  height: 100%;
  margin-left:5px;
  /* background-color: #021021;
  transition: all 1s;
  border-left:1px solid white; */
}
section h1 span::before{
  position: absolute;
  content:'';
  left:-2px;
  width:100%;
  height: 100%;
  background-color: #021021;
  transition: all 1s;
  border-left:1px solid white;
  z-index: 3;
  animation: slide 4s ease 2s infinite;
  overflow: hidden;

}
@keyframes slide {
  /* from{
    left:0%;
  }
  to{
    left:102%;
  } */
  0%{
    left:-2px;
  }
  50%{
    left:102%;
  }
  100%{
    left:0%;
  }
  
}
/* section span::before{
  content:"";
  position:absolute;
  top:0px;
  left:0px;
  width:0px;
  height:100%;
  
  
} */

/* section h1:hover::before {
  transform: translateX(450px);

} */

section p {
  margin: 10px 0px 20px 0px;
  width:100%;
  text-align:center;
}

section a {
  color: #ffffff;
  /* background: red; */
  border: none;
  outline: 1px solid red;
  min-width: 50px;
  padding: 5px;
  text-align: center;
  border-radius: 2px;
}

section a:hover {
  background-color: red;
}

/*footer section*/
footer {
  background: white;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

footer ul {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  margin-top: 10px;
  list-style: none;
  gap: 10px;
  font-size: 1.2rem;
}

footer ul li a {
  color: black;
}

footer ul li a:hover {
  text-decoration: underline black;
}

footer p {
  margin-top: -20px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width:600px) {
  html {
    font-size: 10px;
  }

  section {
    font-size: 0.8rem;
  }

  nav ul li {
    margin-right: 15px;
  }

  nav a {
    font-size: 1.5rem;
    margin-top: 4px;
  }

  main {
    min-width: 286px;
  }

}

@media screen and (max-width:390px) {
  nav ul li {
    margin-right: 10px;
  }

  nav ul li>a {
    font-size: 0.9rem;
  }
  header nav ul>a{
    font-size: 0.9rem;
    color: white;
    margin-top: 4px;
  }
  main section {
    font-size: 0.7rem;
  }
}